@media (min-width:759px){
    #as_app{
        section{
            padding-left: 70px;
            padding-bottom: 10px;
        }
        .home{
            flex-direction: row;
            text-align: left;
            justify-content: space-around;
            h3{
                max-height: 50px;
                font-size: 2em;
            }
            h2{
                max-height: 75px;
                font-size: 3em;
            }
            &_img{
                width: 40vw;
            }
        }

        .resume_about{
            grid-template-columns: 1fr 1fr 1fr 1fr; 
            grid-template-rows: 1fr 1fr; 
            grid-template-areas: 
            "a b b b"
            "c d d e"; 
        }

        .projects #my_projects{
            grid-template-columns: 1fr 1fr 1fr;
        }

        .services{
            justify-content: center;
            #as_grid{
                grid-template-columns: 1fr 1fr 1fr;
            }
        }

        .contact{
            flex-direction: row;
            justify-content: space-around;
            img{
                height: auto;
                width: 40vw;
            }
            form{
                max-width: 30vw;
            }
        }
    }
}

