#as_app{
    background: url(../img/bg.png) left/cover;
    background-repeat: repeat;
    #as_app-bar{
        background: transparent;
        backdrop-filter: blur(5px);
    }
    #as_error{
        z-index: 4;
    }


    section{
        max-height: 100vh;
        overflow-y: scroll;
        padding: 10px;
        padding-bottom: 60px;
        scroll-snap-stop: always;
    }

    // home
    .home{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        &_text{
            h3{
                position: relative;
                font-size: 1.5em;
                font-weight: 500;
                max-height: 40px;
                overflow: hidden;
            }
            h2{
                position: relative;
                font-size: 2em;
                font-weight: 500;
                max-height: 55px;
                overflow: hidden;
            }
            .letter{
                display: inline-block;
                line-height: 1em;
            }
            .text-wrapper {
                margin-top: 10px;
                display: inline-block;
                overflow: hidden;
            }
        }
        &_img{
            width: 100%;
        }
    }

    // resume
    .resume{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        h3,h4{
            color: #00000090;
        }
        &_about{
            padding: 20px 5vw;
            display: grid;
            grid-template-columns: 1fr; 
            grid-template-rows: auto; 
            grid-template-areas: 
            "a""b""c""d""e";
            grid-gap: 20px;
            &-img{
                display: flex;
                align-items: center;
                justify-content: center;
                grid-area: a;
                img{
                    height: 250px;
                    width: 250px;
                    border-radius: 50%;
                }
            }
            &-text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                grid-area: b;
                p{
                    margin-top: 10px;
                    color: #00000090;
                }
            }
            &-education{
                grid-area: c;
                h4{
                    margin-top: 10px;
                }
                p{
                    color: #00000090;
                }
            }
            &-skills{
                grid-area: d;
                h4{
                    margin-top: 10px;
                }
                p{
                    color: #00000090;
                }
            }
            &-social{
                grid-area: e;
                a{
                    height: 50px;
                    width: 50px;
                    font-size: 1.5em;
                    border-radius: 50%;
                    background: #eaebed;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover{
                        animation: jello-horizontal 0.9s both;
                    }
                    @keyframes jello-horizontal {
                        0% {
                          transform: scale3d(1, 1, 1);
                        }
                        30% {
                          transform: scale3d(1.25, 0.75, 1);
                        }
                        40% {
                          transform: scale3d(0.75, 1.25, 1);
                        }
                        50% {
                          transform: scale3d(1.15, 0.85, 1);
                        }
                        65% {
                          transform: scale3d(0.95, 1.05, 1);
                        }
                        75% {
                          transform: scale3d(1.05, 0.95, 1);
                        }
                        100% {
                          transform: scale3d(1, 1, 1);
                        }
                    }
                }
                .for_follow{
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                }
                .for_contact{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    span{
                        margin-top: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        p{
                            margin-left: 10px;
                        }
                    }
                }
            }
            
        }
    }

    // projects
    .projects{
        flex-direction: column;
        justify-content: flex-start;
        &_nav{
            padding: 10px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            // justify-content: space-between;
            input{
                max-width: 50vw;
            }
        }
        #my_projects{
            padding: 10px;
            width: 100%;
            display: grid;
            grid-gap: 10px;
            grid-template-columns: 1fr;
            .project{
                margin-top: 10px;
                padding: 10px;
                display: flex;
                flex-direction: column;
                align-items:flex-start;
                background: #eaebed80;
                backdrop-filter: blur(10px);
                border-radius: 10px;
                transition: 0.5s;
                img{
                    width: 100%;
                }
                h3{
                    margin-top: 10px;
                    color: #000000c7;
                }
                h4{
                    margin-bottom: 10px;
                    color: #38b8d0;
                }
                p{
                    margin: 10px 0;
                    color: #00000090;
                }

                &:hover{
                    transform: translatey(-5px);
                }
            }
        }
    }

    // services
    .services{
        justify-content: flex-start;
        flex-direction: column;
        #as_grid{
            margin: 10px 0;
            grid-gap: 20px;
            grid-template-columns: 1fr;
            .card{
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                border-radius: 10px;
                background: #f1f1f180;
                backdrop-filter: blur(10px);
                transition: 0.5s;
                h1,h3{color: #38b8d0;}
                h1,h2{width: 100%;text-align: center;}
                h1{
                    font-size: 3em;
                    margin: 10px 0;
                }
                p{
                    margin: 10px 0;
                    color: #00000090;
                }
                &:hover{
                    box-shadow: 0 0 2px 2px #eaebed;
                    transform: translateY(-10px);
                }
            }
        }
        img{
            height: 30vh;
        }
    }

    // contact
    .contact{
        flex-direction: column;
        img{
            height: 30vh;
        }
        form{
            padding: 0 5vw;
            width:90vw;
            display: flex;
            flex-direction: column;
            fieldset{
                padding: 0 5px;
                border-radius:10px;
                border:2px solid #00000080;
                outline: none;
                legend{
                    padding: 0 5px;
                    margin-left: 10px;
                    font-weight: 700;
                    color: #00000080;
                }
                input,textarea{
                    width: 100%;
                    padding: 5px;
                    border:none;
                    outline: none;
                    font-size: 16px;
                    font-weight: 500;
                    background: transparent;
                    box-shadow: none;
                    &::placeholder{
                        transition: 2s;
                    }
                    &:focus::placeholder{
                        transform: translateX(-100%);
                    }
                }
                textarea{
                    resize: none;
                    height: 15vh;
                }
                &:not(:first-child){
                    margin-top: 10px;
                }
            }
            .as_btn{
                align-content: center;
                align-self: center;
                max-width: 150px;
                margin-top: 10px;
            }
        }
    }
}


@import 'media';