#as_app {
  background: url(../img/bg.png) left/cover;
  background-repeat: repeat;
}

#as_app #as_app-bar {
  z-index: 3;
}

#as_app ul {
  background: transparent;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

#as_app ul a {
  color: #000;
}

#as_app ul a span::before {
  background: #38b8d0;
}

#as_app ul a:hover {
  background: #eaebed;
}

#as_app ul a:hover span {
  background: #eaebed;
}

#as_app section {
  max-height: 100vh;
  overflow-y: scroll;
  padding: 10px;
  padding-bottom: 60px;
}

#as_app .home {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#as_app .home_text h3 {
  font-size: 1.5em;
}

#as_app .home_text h2 {
  font-size: 2em;
}

#as_app .home_img {
  width: 100%;
}

#as_app .resume {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#as_app .resume_about {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "a" "b" "c" "d" "e";
  grid-gap: 20px;
}

#as_app .resume_about-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

#as_app .resume_about-img img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

#as_app .resume_about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: b;
}

#as_app .resume_about-text p {
  margin-top: 10px;
  color: #00000090;
}

#as_app .resume_about-education {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: c;
}

#as_app .resume_about-education h4 {
  margin-top: 10px;
}

#as_app .resume_about-education p {
  color: #00000090;
}

#as_app .resume_about-skills {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: d;
}

#as_app .resume_about-skills h4 {
  margin-top: 10px;
}

#as_app .resume_about-skills p {
  color: #00000090;
}

#as_app .resume_about-social {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: e;
}

#as_app .resume_about-social a {
  height: 50px;
  width: 50px;
  font-size: 1.5em;
  border-radius: 50%;
  background: #eaebed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#as_app .resume_about-social a:hover {
  -webkit-animation: jello-horizontal 0.9s both;
          animation: jello-horizontal 0.9s both;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

#as_app .resume_about-social .for_follow {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#as_app .resume_about-social .for_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#as_app .resume_about-social .for_contact span {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#as_app .resume_about-social .for_contact span p {
  margin-left: 10px;
}

#as_app .projects {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#as_app .projects_nav {
  padding: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#as_app .projects_nav input {
  max-width: 50vw;
}

#as_app .projects #my_projects {
  padding: 10px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

#as_app .projects #my_projects .project {
  margin-top: 10px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #eaebed80;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

#as_app .projects #my_projects .project img {
  width: 100%;
}

#as_app .projects #my_projects .project h3 {
  margin-top: 10px;
}

#as_app .projects #my_projects .project a {
  position: relative;
  margin-top: 15px;
  padding: 5px 15px;
  -webkit-box-shadow: 0 0 0 2px #000;
          box-shadow: 0 0 0 2px #000;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#as_app .projects #my_projects .project a h4 {
  position: relative;
}

#as_app .projects #my_projects .project a::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #38b8d0;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#as_app .projects #my_projects .project a:hover {
  -webkit-box-shadow: 0 0 0 2px #38b8d0;
          box-shadow: 0 0 0 2px #38b8d0;
}

#as_app .projects #my_projects .project a:hover h4 {
  color: #fff;
}

#as_app .projects #my_projects .project a:hover::before {
  -webkit-transform: translate(-50%, -50%) scale(10);
          transform: translate(-50%, -50%) scale(10);
  opacity: 1;
}

#as_app .services img {
  height: 40vh;
}

#as_app .contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#as_app .contact img {
  height: 30vh;
}

#as_app .contact form {
  padding: 0 5vw;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#as_app .contact form fieldset {
  padding: 0 5px;
  border-radius: 10px;
  border: 2px solid #00000090;
  outline: none;
}

#as_app .contact form fieldset legend {
  margin-left: 10px;
  color: #00000090;
}

#as_app .contact form fieldset input, #as_app .contact form fieldset textarea {
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  background: transparent;
}

#as_app .contact form fieldset:not(:first-child) {
  margin-top: 10px;
}

#as_app .contact form button {
  position: relative;
  margin-top: 20px;
  height: 35px;
  width: 120px;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 1em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 0 2px #00000090;
          box-shadow: 0 0 0 2px #00000090;
  overflow: hidden;
}

#as_app .contact form button h4 {
  position: relative;
}

#as_app .contact form button::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #38b8d0;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#as_app .contact form button:hover {
  -webkit-box-shadow: 0 0 0 2px #38b8d0;
          box-shadow: 0 0 0 2px #38b8d0;
}

#as_app .contact form button:hover h4 {
  color: #fff;
}

#as_app .contact form button:hover::before {
  -webkit-transform: translate(-50%, -50%) scale(10);
          transform: translate(-50%, -50%) scale(10);
  opacity: 1;
}

@media (min-width: 759px) {
  #as_app section {
    padding-left: 70px;
    padding-bottom: 10px;
  }
  #as_app .home {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #as_app .home_img {
    width: 40vw;
  }
  #as_app .resume_about {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "a b b b" "c d d e";
  }
  #as_app .projects #my_projects {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  #as_app .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #as_app .contact img {
    height: 60vh;
  }
  #as_app .contact form {
    max-width: 30vw;
  }
}
/*# sourceMappingURL=style.css.map */